!!!
%html{lang: "ja"}
  %head
    %meta{name:"viewport", content:"width=device-width,initial-scale=1.0"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LinkS
    = csrf_meta_tags
    = csp_meta_tag

    -# Bootstrap CSS
    %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity:"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin:"anonymous"}
    -# FontAwesome CSS
    %link{rel: "stylesheet", href: "https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity:"sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin:"anonymous"}
    -# App CSS
    = stylesheet_link_tag 'application', media: 'all'
    -# Users CSS
    = stylesheet_link_tag 'users', media: 'all'

    -# Comfortaa Google Font
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Comfortaa"}
    -# Londrina+Shadow Google Font
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Londrina+Shadow"}

  %body
    %div.animsition
      %main
        %div.container
          %div.row
            %div.col-lg-12.center
              %a{href: "/"}
                #{image_tag("LinkS_logo.png", :class => "top-img img-responsive")}
          %div.row
            -if flash[:info]
              %div.col-lg-12
                %div.card-panel.info
                  %span= flash[:info]
            -if flash[:error]
              %div.col-lg-12
                %div.card-panel.error
                  %span= flash[:error]
            = yield
        %footer.bg-light-gray
          .container
            .row
              .col-lg-12.text-center
                %span.copyright Copyright © LinkS 2019

    -# jQuery first
    -# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'
    -# Bootstrap JS
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    -# App JS
    = javascript_include_tag 'application'
    -# Users JS
    = javascript_include_tag 'users'

    :javascript
      $(document).ready(function() {
        $('.animsition').animsition();
      });

