!!!
%html{lang: "ja"}
  %head
    %meta{name:"viewport", content:"width=device-width,initial-scale=1.0"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LinkS
    = csrf_meta_tags
    = csp_meta_tag

    -# Bootstrap CSS
    %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity:"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin:"anonymous"}
    -# AdminLTE CSS (Bootstrap拡張FW)
    = stylesheet_link_tag 'AdminLTE', media: 'all'
    -# FontAwesome CSS
    %link{rel: "stylesheet", href: "https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity:"sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin:"anonymous"}
    -# jQuery toast CSS (jQuery Plugin CSS)
    = stylesheet_link_tag 'jquery.toast.min', media: 'all'
    -# App CSS
    = stylesheet_link_tag 'application', media: 'all'
    -# Main CSS
    = stylesheet_link_tag 'main', media: 'all'


    -# Google Font(Comfortaa )
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Comfortaa"}
    -# Google Font(Londrina+Shadow)
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Londrina+Shadow"}
    -# Google Font(MPlus 1p)
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"}

  %body{"data-spy" => "scroll", "data-target" => "#navbarNav"}
    %div.animsition
      - if flash[:info]
        %div.info-message.hide
          = flash[:info]
      - if flash[:error]
        %div.error-message.hide
          = flash[:error]
      %nav.navbar.navbar-expand-md.navbar-default.navbar-fixed-top
        %a.navbar-brand{:href => "/"} LinkS
        %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "ナビゲーションの切替", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
          %i.nav-tab.fas.fa-list-ul
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
          - if admin_check?(@current_user.authority)
            %ul.navbar-nav
              %a.nav-link{:href => "/management"}
                管理者ページ
          %ul.navbar-nav
            - if login_check?
              %li.nav-item
                %a.nav-link{:href => "/logout"}
                  ログアウト
            - else
              %li.nav-item
                %a.nav-link{:href => "/"}
                  ログイン
      / サイドバー
      - if login_id_check?(@user.id)
        %aside.main-sidebar.sidebar-default-skin
          %section.sidebar{:style => "height: auto;"}
            %form{:action => "", :method => "post"}
              / サイドバーメニュー
              %ul.sidebar-menu.fixed.tree.sortable{"data-widget" => "tree"}
                %li
                  .hidden-sidebar-brand
                    %span LinkS
                  .sidemenu
                    %i.fa.fa-folder
                    %span &nbsp;フォルダー
                    %a{:href => "#"}
                      %span.sidebar-folder-create
                        %i.far.fa-plus-square
                    %a#mock-folder-sort-button{:href => "#"}
                      %span.sidebar-folder-sort
                        %i.fas.fa-sort
                - @folders.each do |folder|
                  %li{class: "sidebar-folder sortable-item #{'selected' if folder.id == @folder.id}", "id" => "#{folder.id}"}
                    %a.text-ellipsis.sidemenu{:href => "/users/#{folder.user_id}/folders/#{folder.id}"}
                      - if folder.is_open == true
                        %i.fas.fa-share-alt &nbsp;
                      - else
                        %i.fas.fa-share-alt{"style" => "visibility:hidden;"} &nbsp;
                      %span.sidebar-folder-name= folder.name
                      %span.hide.sidebar-folder-note= folder.comment
              %input#result{:name => "result", :type => "hidden"}/
              %button#submit{:style => "display:none"} ソート確定
      / サイドバー
      / メインコンテンツ
      %div{"class" => "content-wrapper #{"hidden-sidebar" if !@folder.user_id.nil? and !login_id_check?(@folder.user_id)}"}
        = yield
        - if login_id_check?(@user.id)
          / フォルダー登録モーダル
          #folder-create-modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog.modal-xl{:role => "document"}
              .modal-content
                = form_tag("/users/#{@user.id}/folders", method: :post, id: "folder-create-form") do
                  .modal-header
                    %h5#exampleModalLabel.modal-title フォルダー
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                  .modal-body.text-muted
                    .row
                      .col-12
                        .row
                          .col-12
                            .input-group.input-group.mb-3
                              .input-group-prepend
                                %span#inputGroup-sizing-lg.input-group-text
                                  %i.fa.fa-folder
                              #{text_field_tag 'folder[name]', "", class:"form-control", placeholder:"フォルダー名称", maxlength:'20' }
                          .col-12
                            .input-group.input-group.mb-3
                              .input-group-prepend
                                %span#inputGroup-sizing-lg.input-group-text
                                  %i.fas.fa-sticky-note
                              #{text_area_tag 'folder[comment]', "", class:"form-control", placeholder:"メモ", maxlength:'400' }
                          .col-12
                            .input-group.input-group.mb-3
                              %a.info-pop{"tabindex"=> "0", "data-toggle" => "popover", "data-trigger" => "click", "title" => "公開設定", "data-content" => "作成するフォルダーを他のユーザにも公開する場合は「公開」、そうでない場合は「非公開」を選択してください", "data-placement" => "auto"}
                                %i.fas.fa-info-circle &nbsp;公開設定
                          .col-12
                            .btn-group.btn-group-toggle{"data-toggle" => "buttons", "style" => "width:100%; margin-bottom:10px;"}
                              %label.btn.btn-outline-secondary.active{"style" => "width:50%; border-color: #6c757d;"}
                                #{radio_button_tag 'folder[is_open]', false, "checked" => true} 非公開
                              %label.btn.btn-outline-success{"style" => "width:50%; border-color: #28a745;"}
                                #{radio_button_tag 'folder[is_open]', true}
                                %i.fas.fa-share-alt &nbsp;公開
                    .modal-footer
                      - if @folders.size() >= Folder::FOLDER_CREATE_LIMIT
                        %button.btn.btn-danger{"disabled" => true} 作成可能なフォルダー数は#{Folder::FOLDER_CREATE_LIMIT}までです
                      - else
                        #{submit_tag "登録", :name => nil , :id => "folder_create_btn", :class => "btn btn-primary"}
                      %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} 閉じる
          / フォルダーソートモーダル
          #folder-sort-modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog.modal-xl{:role => "document"}
              .modal-content
                .modal-header
                  %h5#exampleModalLabel.modal-title フォルダーソート
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body.text-muted
                  .row
                    .col-12
                      %div{"style" => "margin-bottom:10px;"}
                        現在の順序でフォルダーの順番を登録します。
                        %br
                        %span.warning フォルダーをドラッグアンドドロップすることで順番を入れ替えることが可能です。
                  .modal-footer
                    %a#folder-sort-button.btn.btn-primary{:href => "/users/#{@user.id}/folders/sort/"} ソート
                    %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} 閉じる

      / 詳細エリア
      %div{"class" => "detail-area #{"hidden-sidebar" if !@folder.user_id.nil? and !login_id_check?(@folder.user_id)}"}
        .detail-area-title
          = @folder.name
        .detail-area-sub-title
        .detail-area-note
          = @folder.comment
      - if login_id_check?(@user.id)
        %div.sidebar-toggle-button
          %a{"href" => "#", "class" => "sidebar-toggle", "data-toggle" => "push-menu", "role" => "button"}
            %i.nav-tab.fas.fa-list-ul.pink
            %span.sr-only Toggle navigation
      - elsif login_check?
        %div.folder-like-button
          %a{"href" => "#" ,"class" => "folder-like", "role" => "button", "data-href": "/users/#{@user.id}/folders/#{@folder.id}/like"}
            %i{"class" => "folder-like-icon fas fa-thumbs-up #{'liked' if folder_liked?(@current_user.id, @folder.id)}"}
      %div.detail-area-toggle-button
        %span{"class" => "detail-area-toggle", "role" => "button"}
          %i.detail-toggle-icon.nav-tab.fas.fa-caret-up.pink
          %span.sr-only Toggle navigation
      %div.hide.hide-params
        %span{id: "intial_display_sidebar", class: "#{'active' if @intial_display_sidebar}"}
        %span{id: "intial_display_detail_area", class: "#{'active' if @intial_display_detail_area}"}
    -# jQuery
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'
    -# jQuery UI (jQuery Plugin)
    = javascript_include_tag 'http://code.jquery.com/ui/1.11.3/jquery-ui.js'
    -# jQuery Plugin UI TouchPunch (jQuery Plugin) スマホ環境でもD&Dを実現する
    = javascript_include_tag 'jquery.ui.touch-punch.min'
    -# Clipboard.js (jQuery Plugin)
    = javascript_include_tag 'clipboard.min'
    -# jQuery.toast.js (jQuery Plugin)
    = javascript_include_tag 'jquery.toast.min'
    -# Popper JS
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    -# Bootstrap JS
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    -# AdminLTE JS
    = javascript_include_tag 'adminlte'
    -# App JS
    = javascript_include_tag 'application'
    -# Main JS
    = javascript_include_tag 'main'

    :javascript
      $(document).ready(function() {
        // サイドバーの高さを定義
        $(".main-sidebar").height($(window).height() - 62);
        // 画面表示時にアニメーション付きで遷移させる
        $('.animsition').animsition({
          inDuration: 700,
          outDuration: 500,
        }).one('animsition.inEnd',function(){
          // 画面表示アニメーション実行後処理(コールバック)

          // サイドバーの初期表示有無(スマホ限定)
          if ($("#intial_display_sidebar").hasClass("active")) {
            var width = $(window).width();
            if (width < 768) {
              // 現在の画面サイズがスマホサイズかつ、サイドバー初期表示が有効な場合サイドバーを表示する
              $('.sidebar-toggle')[0].click();
            }
          }
          // 詳細エリアの初期表示有無
          if ($("#intial_display_detail_area").hasClass("active")) {
            $('.detail-area-toggle')[0].click();
          }
          // インフォメーションポップアップの設定
          $(".info-pop").popover();
        });
        // フォルダーのソート確定処理
        $(".sortable").sortable({
          items: '.sortable-item',
        });
        $(".sortable").disableSelection();

        // インフォメーションメッセージの表示
        var info_message = $(".info-message").text();
        if (info_message) {
          viewToaster(info_message, "info");
        }
        // エラーメッセージの表示
        var error_message = $(".error-message").text();
        if (error_message) {
          viewToaster(error_message, "error");
        }
      });
